{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur votre Site Sortir.com</h1>
    <p>Le site de référence pour organiser vos sorties entre amis !</p>
</div>
{% endblock %}
