<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h2>Bonjour
			{{ prenom }}
			{{ nom }},</h2>

		<p>Vous êtes invité(e) à rejoindre notre plateforme.</p>

		<p>Pour créer votre compte, veuillez cliquer sur le lien suivant :</p>

		<p>
			<a href="{{ inscriptionLink }}">Créer mon compte</a>
		</p>

	</body>
</html>
