<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h2>Bonjour
			{{ prenom }}
			{{ nom }},</h2>

		<p>Vous êtes invité(e) à rejoindre notre plateforme.</p>

		<p>Pour créer votre compte, veuillez cliquer sur le lien suivant :</p>

		<p>
			<a href="{{ inscriptionLink }}">Créer mon compte</a>
		</p>

		<p>Ce lien est valable pendant 24 heures.</p>

		<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>
	</body>
</html>
